@keyframes card-ready {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 65vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: all 0.1s;
  animation: card-ready 0.5s;
}

.container:hover {
  transform: scale(1.03);
  transition: all 0.1s;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.avatar {
  flex-grow: 1;
  width: 200px;
  height: 300px;
  background-color: aqua;
}

.details {
  opacity: 0;
  flex-grow: 10;
  padding-left: 30px;
  animation: card-ready 0.3s 0.5s forwards;
}
