.results {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  width: 100%;
}

.failure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  background-color: rgb(51 65 85);
}
